@font-face {
    font-family: "Rougant";
    font-weight: bold;
    font-display: swap;
    src: url("../assets/fonts/RougantBold.otf") format("opentype");
}

@font-face {
    font-family: "Inconsolata";
    font-weight: normal;
    font-display: swap;
    src: url("../assets/fonts/InconsolataRegular.ttf") format("truetype");
}
